body{
	margin-left:auto;
	margin-right:auto;
}
.container{
	width:800px;
}
.s_info_table {
	font-size: 12px;
	width:100%;
	border-collapse:collapse;
	margin-left:5px;
	padding: 0px;
}
.s_info_table td{
	height:20px;
}

#s_info{
	display: none;
}
.container_table{
	border-collapse:collapse;
	width:90%;
	border:1px solid #000;
	border-spacing: 0px;
}
.header{
	width:20%;
	height:40px;
	vertical-align: middle;
}
.container_table>tbody>tr>td{
	border:1px solid #000;
	border-spacing: 0px;
}