/* CSS Document */
body{ background:url(login/bg.jpg) top center repeat-x; margin:0; padding:0;}
input{outline: 0;}
.mbd{ background:url(login/bg2.jpg); width:997px; margin:auto;}
.pnl{ float:left; padding:235px 0 0 115px; background:url(login/pnl.png) right bottom no-repeat; width:492px; height:300px;}
.input0{ padding:14px 0 0 183px; height:33px; overflow:hidden;}
.input1{ padding:5px 0 0 183px; height:33px; overflow:hidden;}
.input2{ padding:14px 0 0 183px; overflow:hidden;}
.input3{ padding:15px 0 0 175px; overflow:hidden;}
.txt1{width:160px; height:33px; outline: 0;border: none;border-radius: 20px;padding:0px 15px;line-height:30px; font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#1d4805;  background:none;}
.txt2{width:80px; height:33px; outline: 0;border: none;border-radius: 0px;padding:0px 0 0 15px; line-height:30px; font-family:Arial, Helvetica, sans-serif; font-size:22px; font-weight:bold; color:#1d4805;  background:none;}
a.loginb{ background:url(login/btn1.jpg); width:104px; height:53px; float:left; display:block;}
a.loginb:hover{ background:url(login/btn1.jpg) 0 -53px;;}
a.canclb{ background:url(login/btn2.jpg) top right no-repeat; float:left; display:block; width:104px; height:53px;}
.fr{ float:right; font-size:12px; line-height:25px; padding-right:25px;}
.gg{ background:url(login/gg.gif) 0 5px no-repeat; padding-left:20px;}
a{ color:#3c7808; text-decoration:none;}
a:hover{ color:#3c7808; text-decoration:underline;}
#valideCode{width:71;height:25px;background:none;border:none;color:#fff;text-indent:0px;
	letter-spacing: 3px;
	font-weight: bold;
	line-height: 25px;
	width: 80px;
	font-size:18px;
	text-align : center;}
.error{color:#AF0A0A;font-weight: bold;}