@charset "gb2312";
/* CSS Document */
html,body,div,span,h1,h2,h3,h4,ul,li,img,p,b,textarea,input,select,form,a,table,tr,td
{margin:0;padding:0;font-family:verdana,Arial, Helvetica, sans-serif;list-style-type:none;font-size:inherit;color:inherit;z-index:inherit; line-height:160%; font-size:12px}
img,table{border:0;border-collapse:collapse}

.fle{float:left}
.fri{float:right}
.hide{display:none}
.clear{clear:both;font-size:0;height:0;background-color:transparent}
a{ text-decoration:underline;color:#0679E4}
.Cblack{color:#000;}
.Cgray{ color:#999}
.Cred{ color:#C00}
.Cwhite{ color:#FFF}
.Cgreen{ color:#16960E}
.Cblue{ color:#0483CC}
.F12{ font-size:12px}
.F14{ font-size:14px}
.txtc{ text-align:center}
.unnes{ color:#FFF; font-size:14px; line-height:30px}
.nes{ color:#c00; font-size:14px; line-height:30px}
label{ margin:0px; padding:0px;cursor:pointer}


.logo_w{ background-image:url(http://mimg.126.net/xm/reg_all/img/logo_w.gif)}
.content .mhd,.content .mft,.cont-tab td.td3 .info b,.info-pop-t,.info-pop-t b,div.info-pop-b b,div.info-pop-b,.info-pop .arr,.btn-jc,.btn-submit,.btn-submit-act,.Aenter{background-image:url(http://mimg.126.net/xm/reg_all/img/bg.jpg); background-repeat:no-repeat}
.content .mcont{ background-image:url(http://mimg.126.net/xm/reg_all/img/bg_y.gif); background-repeat:repeat-y}
.main-cont-tit{ background-image:url(http://mimg.126.net/xm/reg_all/img/bg_x.gif); background-repeat:repeat-x}

html,body{ text-align:center; background-color:#FFF}
.header{ width:960px;height:90px;margin:0px auto}
	.logo{float:left;margin-top:23px}
	.logo_w{float:left;width:283px; height:36px;margin-top:25px; background-position:0px 0px}
	.head_links{float:right;white-space:nowrap; text-align:right; color:#999; margin-top:40px}
		.head_links a{color:#999; text-decoration:none}
		.head_links a:hover{text-decoration:underline}
		
.content{width:964px; height:auto;margin:0px auto;z-index:444}
	.content .mhd{ width:964px; height:73px; position:relative; background-position:-9px -4px; position:relative}
	.content .mcont{ width:964px; height:auto; background-position:-7px 0px; text-align:center}
	.content .mft{ width:964px; height:10px; position:relative; font-size:0px; line-height:0px; overflow:hidden; background-position:-9px -102px; position:relative}
		.content .mhd .tit{ font-size:14px; color:#D3EAFE; line-height:16px; position:absolute; left:55px; top:19px; text-align:left; width:900px}
		
.main-cont{ width:870px; margin:0px auto; padding:10px 0px}/*内容主体*/

		.cont-tab{ width:870px}
			.cont-tab td{ padding:6px 2px; vertical-align:top; line-height:30px}
			.cont-tab td.tit{ padding-left:42px; font-size:12px; line-height:26px}
			.cont-tab td.td1{ font-size:14px; width:265px; text-align:right}
			.cont-tab td.td2{ width:255px}
				.cont-tab td.td2 .inp{ width:100%; padding:2px; height:26px; border-width:1px; border-style:solid; vertical-align:middle; line-height:16px; font-size:14px; padding-top:4px}
				.cont-tab td.td2 .sel{ width:100%; font-size:14px}
				input.ipt-normal{ border-color:#A0B4C5;background-color:#FFF}
				input.ipt-focus{ border-color:#727272;background-color:#FFFBD5}
				input.ipt-error{ border-color:#D5060D;background-color:#FEF5F5}				
			.cont-tab td.td3{ width:auto}
				.cont-tab td.td3 .info{ position:relative; height:20px}
				b.ico-ok,b.ico-error{display:block;width:18px;height:18px; font-size:0px;overflow:hidden; position:absolute; left:0px; top:3px}
					b.ico-ok{ background-position:-5px -146px}
					b.ico-error{ background-position:-30px -146px}
					
					.info-pop{width:307px;height:auto; background-color:#EDEDEB; position:absolute;left:32px;top:-4px}
						.info-pop-t{width:100%;height:3px; line-height:0px; font-size:0px; overflow:hidden; background-position:-78px -146px}
						div.info-pop-t b{ display:block; width:5px; height:3px; font-size:0px; overflow:hidden}
							.info-pop-t b.cr-l{ float:left; background-position:-75px -146px}
							.info-pop-t b.cr-r{ float:right; background-position:-440px -146px}
						.info-pop-c .cont{ clear:both; margin-right:2px; border:#BEBCB5 1px solid; padding:2px 10px; background-color:#FFFEF6; border-width:0px 1px; color:#4A4A4A; line-height:24px; font-family:simsun}
												.info-pop-t{width:100%;height:3px; line-height:0px; font-size:0px; overflow:hidden; background-position:-80px -146px}
						.info-pop-b{width:100%;height:5px; line-height:0px; font-size:0px; overflow:hidden; background-position:-78px -154px}
						div.info-pop-b b{ display:block; width:5px; height:5px; font-size:0px; overflow:hidden}
							.info-pop-b b.cr-l{ float:left; background-position:-75px -154px}
							.info-pop-b b.cr-r{ float:right; background-position:-440px -154px}
						.info-pop .arr{ width:9px; height:13px; overflow:hidden; position:absolute; left:-8px; top:10px; background-position:-65px -146px}

			div.I-error .info-pop-t{ background-position:-78px -167px}
				div.I-error .info-pop-t b.cr-l{ background-position:-75px -167px}
				div.I-error .info-pop-t b.cr-r{ background-position:-440px -167px}
			div.I-error .info-pop-c .cont{ border-color:#EAABAD; background-color:#fff; color:#333}
			div.I-error .info-pop-b{ background-position:-78px -175px}
				div.I-error .info-pop-b b.cr-l{ background-position:-75px -175px}
				div.I-error .info-pop-b b.cr-r{ background-position:-440px -175px}
				div.I-error .arr{ background-position:-65px -167px}
			.btn-submit{ width:114px; height:37px; background-position:-5px -57px; border:0px; cursor:pointer; margin-top:15px}
			.btn-submit-act{ border:0px;width:114px; height:37px; background-position:-135px -57px; cursor:pointer; margin-top:15px}

.psw-sinfo{float:left;width:180px;height:auto;background-color:#999;border:#666 1px solid;background-color:#FFF; margin:3px 4px 0px 4px}/*密码强度*/
	.psw-sinfo .bar{ background-color:#FFF; margin:1px; height:8px; font-size:0px; line-height:0px}
	.psw-sinfo .state0{background-color:#FFF}
	.psw-sinfo .state1{background-color:#C00;width:25%}
	.psw-sinfo .state2{background-color:#F90;width:50%}
	.psw-sinfo .state3{background-color:#2CA4DE;width:75%}
	.psw-sinfo .state4{background-color:#40984C}
	
.main-cont-tit{ position:relative;text-align:left; background-position:0px 0px; height:30px; line-height:30px; text-indent:15px; margin:20px 0px}
	.main-cont-tit h2{ line-height:30px; font-size:14px; color:#007BBB;float:left}
	.main-cont-tit a{ font-weight:normal}
	.main-cont-tit span{ line-height:30px;}
	.main-cont-tit .arr{ float:left; overflow:hidden; font-size:0px; line-height:0px; border-top:#98B7CC 5px solid; border-left:#FFF 5px solid; border-right:#FFF 5px solid; position:absolute; left:40px; top:30px}
	.btn-jc{ width:43px; height:26px; vertical-align:middle; background-position:-468px -146px; border:0px; font-size:14px; color:#1F79A7; cursor:pointer}
		.btn-jc:active{ padding-top:2px; padding-left:1px}
	td.named,td.named span{ font-size:16px; font-weight:bold}
.chose-list{ width:305px; height:auto; position:relative; margin-top:-5px; border:#98B7CC 1px solid; background-color:#FFF}/*可选帐户列表*/
.chose-list .tit{ height:30px; line-height:30px; padding:0px 5px; color:#000; background-color:#E8F7FE; border-bottom:#E1E1E1 1px solid}

	.chose-list ul{ padding-bottom:3px}
	.chose-list ul li{height:28px;background-color:#FFF; line-height:14px;}

		.chose-list ul li .cont{ float:left; margin-top:5px; margin-left:3px; font-weight:bold; color:#999}
			.chose-list ul li label{ cursor:default}
			.chose-list ul li .cont strong{color:#999}
			.chose-list ul li .cont input{ vertical-align:middle; visibility:hidden}
			.chose-list ul li .sp2{ float:right; color:#999;margin-top:5px; display:block; margin-right:5px}
			.chose-list ul li .sp1{ float:right; color:#333;margin-top:5px;display:none; margin-right:5px}
			
		.chose-list ul li.allow .cont{color:#007BBB}
			.chose-list ul li.allow label{ cursor:pointer}
			.chose-list ul li.allow .cont strong{color:#333}
			.chose-list ul li.allow .cont input{ visibility:visible}
			.chose-list ul li.allow .sp1{ display:block}
			.chose-list ul li.allow .sp2{ display:none}
.chose-list .arr{ width:16px; height:8px; font-size:0px; line-height:0px; position:absolute; left:15px; top:-8px; background-image:url(http://mimg.126.net/xm/reg_all/img/arr_blue.gif)}

/* 未选帐号变红警示 */
.notice{border-color:#D5060D}
.notice .tit{background-color:#FEF5F5;color:#D5060D}
.notice .arr{background-image:url(http://mimg.126.net/xm/reg_all/img/arr_red.gif)}


td.codeImg img{ border:#E7E7E7 1px solid; vertical-align:middle}
td.codeImg a{ text-decoration:underline}

	.btn-submit{ width:117px; height:41px; background-position:-9px -219px; border:0px; cursor:pointer; margin:25px 0px}
	.btn-submit-act{ border:0px;width:117px; height:41px; background-position:-126px -219px; cursor:pointer; margin:25px 0px}
	
	.creat-btn .btn-submit{ width:117px; height:41px; background-position:-251px -219px; border:0px; cursor:pointer; margin:25px 0px}
	.creat-btn .btn-submit-act{ border:0px;width:117px; height:41px; background-position:-368px -219px; cursor:pointer; margin:25px 0px}

.Sphoto{ background-color:#FFF; border:#B3C7D5 1px solid; position:absolute; left:12px; top:11px}
.Sphoto img{ width:25px; height:25px; margin:1px}

.finish-area{ width:670px; height:auto; margin:10px auto}
	.finish-area table{width:100%; margin:15px 0px}
		.finish-area table th{ width:255px; font-size:14px; font-weight:normal; padding:5px; text-align:right}
		.finish-area table td{ width:auto; font-size:14px; font-weight:bold; padding:5px; text-align:left}
.main-cont h3.Cred{ font-size:14px; text-align:center; padding:10px}
	.main-cont h3.Cred a{ font-size:14px; font-weight:normal}


			
.footer{ clear:both; text-align:center; color:#888; line-height:250%; margin:20px 0px;position:relative; z-index:555}
	.footer a{color:#888; text-decoration:none}
	.footer a:hover{text-decoration:underline}
	
	.Aenter{ display:block; margin:25px auto; width:117px; height:41px; background-position:-494px -219px}
	.Aenter2{ display:block; margin:35px auto 25px auto; width:154px; height:41px;background-image:url(http://mimg.126.net/xm/reg_all/img/enter2.gif); background-repeat:no-repeat}
	
.err-info{background-color:#FFF8C9; border:#F1C878 1px solid; color:#C00; font-size:14px; padding:5px 10px; margin:10px 150px; text-align:left; clear:both}/*顶部错误提示*/

.cont-info{ background-color:#FFFEF6; border:#CCC 1px solid; margin:30px 20px; padding:25px; text-align:left}/* 注册成功框 */
.cont-info h1{ font-size:16px; color:#13A907; padding-left:28px; line-height:22px; background-image:url(http://mimg.126.net/xm/reg_all/img/ico_sus.gif); background-repeat:no-repeat}
	.cont-info-det{ font-size:14px; color:#000; padding:15px 0px 20px 0px;line-height:30px;}
	.cont-info-rember{ border:#EAEAEA 1px solid; background-color:#FFF; text-indent:20px;zoom:1}
	.cont-info-rember .hd{ height:34px; line-height:34px; color:#000; background-color:#F4F4F4}

.footer-gg{ text-align:left; line-height:30px; font-family:simsun; clear:both; margin:5px 20px}


/* 注册结束后激活手机号码邮箱 */
.mob-area .tit,
.mob-area .set table td .btn-get,
.mob-area .set table td .btn-enter{ background-image:url(../img/mob_bgx.gif); background-repeat:no-repeat}

.mob-area{ width:100%; height:auto;clear:both; padding-top:10px}
.mob-area .tit{ border:#E7E6BA 1px solid; height:63px; border-width:0px 1px; background-repeat:repeat-x; background-position:0 -180px}
.mob-area .tit .chk{ width:28px; float:left; text-align:right; padding-top:10px}
.mob-area .tit .chk input{ margin:0; padding:0;zoom:1; margin-top:5px; width:14px; height:14px}
.mob-area .tit .words{ padding-left:35px; line-height:22px; padding-top:12px; color:#6F6F6F}
.mob-area .tit .words h4{ color:#000; margin:0; padding:0}
.mob-area .set{ background-color:#FFF; border:#EAEAEA 1px solid; height:235px; overflow:hidden; margin-top:-1px; display:none}
.mob-area .set .cartoon{ width:346px; height:234px; float:left; background:url(../img/cartoon.jpg) no-repeat}
.mob-area .set table{ width:400px; height:auto; float:left; table-layout:fixed}
.mob-area .set table .tr-h1 td{color:#565656;height:45px;overflow:hidden; vertical-align:bottom}
.mob-area .set table .tr-h1 td strong{ line-height:16px; font-size:14px}
.mob-area .set table th{ width:52px; font-size:14px; font-weight:normal; color:#565656}
.mob-area .set table td{ width:auto;padding:5px 0}
.mob-area .set table td .inp{ width:190px; height:24px; border:#838383 1px solid; padding:2px 3px; font-size:14px; line-height:20px}
.mob-area .set table td .btn-get{ width:120px; height:24px; border:0px; padding-top:2px; cursor:pointer; background-position:0 0}
.mob-area .set table td .btn-enter{ width:185px; height:33px; border:0px; padding-top:2px; cursor:pointer; background-position:0 -36px; background-color:#FFF; color:#1A7430; font-size:14px; font-weight:bold}
.mob-area .set table td .btn-get-disable{ background-position:0 -252px; color:#666}
.mob-area .set table td .btn-enter-disable{ background-position:0 -288px; color:#666}

.mob-show .set{ display:block}


.infoct{ padding:50px 0 50px 165px; text-align:left; font-size:14px; position:relative;zoom:1}
.infoct b.ico-er{ background-image:url(../img/ico_er.gif); background-repeat:no-repeat; width:22px; height:22px; position:absolute; left:130px; top:50px}
.infoct h2{ font-size:14px}

.infoct-ok b.ico-er{background-position:-19px -12px}
.infoct-false b.ico-er{background-position:-19px -76px}
.infoct-ok h2{ color:#16960E}
.infoct-false h2{color:#D90000}

.infoct p{padding:15px 0; font-size:14px}
.infoct p a{ font-size:14px; font-weight:normal; color:#074977}
.infoct p span{font-size:14px}
.infoct p a.F12{font-size:12px}



/* 注册成功优化 */
.succ-info{ width:427px; height:auto; background-color:#FFFEF0; border:#BCBCBC 1px solid;-webkit-border-radius:6px;-moz-border-radius:6px; float:left; margin-left:50px; margin-top:45px; text-align:center; display:inline}
.succ-info a,
.succ-mob a{ color:#074977}

.succ-info table{ width:364px; height:auto; margin:12px auto; table-layout:fixed}
.succ-info table th{ width:64px; text-align:left; vertical-align:top}
.succ-info table td{ width:auto; font-size:14px}
.succ-info table b.ico-succ{ display:block; width:46px; height:46px; background:url(../img/ico_succ_big.gif)}
.succ-info .info-show{ padding:10px 0; font-size:14px}
.succ-info table dl{ clear:both; line-height:24px; margin:0; padding:0}
.succ-info table dl dt{ height:24px; overflow:hidden; line-height:24px; text-align:right; width:100px; float:left}
.succ-info table dl dd{ margin:0; padding:0; padding-left:100px}

.succ-mob{ width:390px; float:right; clear:none; margin-right:15px; display:inline}
.succ-mob .set{ display:block; border:none; height:auto}
.succ-mob .succ-intro{ text-align:left; line-height:22px; color:#404040; position:relative; padding-top:50px; padding-bottom:10px;zoom:1}
.succ-mob .succ-intro span{ display:block; width:56px; height:21px; background:url(../img/ico_free.gif) no-repeat 0 0; position:absolute; right:20px; top:50px; text-indent:300px; white-space:nowrap; overflow:hidden}
.succ-mob .succ-intro .Cgray{ color:#6F6F6F}

a.Aknow{display:block; width:100%; height:36px; white-space:nowrap; text-indent:300px; overflow:hidden}
a.Aknow2{color:#D3EAFE;text-decoration:underline; font-size:14px; float:right; margin-right:15px}
/* vip注册推广 */
.vip-harry{ background:url(../img/ico_t.gif) no-repeat 0 0; padding-left:20px; font-weight:bold;color:#E01010}
