

.login-form {
	width: 350px;
	margin: 50px auto;
	position: relative;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.login-form .header {
	padding: 40px 0px 0px 30px;
}

.login-form .header h1 {
	font:300 28px/34px 'Denk One', sans-serif;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.login-form .header span {
	font-size: 20px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.login-form .content {
	padding: 0 30px 25px 30px;
	font-size: 20px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	border-top: 1px solid rgba(0,0,0,0.15);
}

.login-form .content .label {
	width: 100px;
	float:left;
	margin:33px 1px 0px 0px;
	line-height:16px;
	font-size: 20px;
}

.login-form .content .input {
	width: 168px;
	padding: 10px 15px;
	font:400 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
.login-form .content .username,
.login-form .content .password,
.login-form .content .random{
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;	
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}



/*******************
FOOTER
*******************/

.login-form .footer {
	padding: 25px 40px 25px 30px;
	overflow: auto;
	background: #f3f3f3;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.login-form .footer .button {
	float:right;
	padding: 2px 25px;
	font:300 18px 'Denk One', sans-serif;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.login-form .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

#overlay-modal-content, #overlay-modal-data {display:none;}

/* Overlay */
#overlay-overlay {background-color:#000;}

/* Container */
#overlay-container {background-color:#eee; color:#000; font: 16px/24px "Lucida Grande",Arial,sans-serif; padding-bottom:4px; width:600px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:6px 6px 6px 6px; -moz-box-shadow:0 0 64px #f3f3f3; -webkit-box-shadow:0 0 64px #f3f3f3; box-shadow:0 0 64px #f3f3f3;}
#overlay-container a {color:#ddd;}
#overlay-container #overlay-modal-title {color:#000; background-color:#ddd; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:0 1px 0 #f4f4f4;}
#overlay-container .close {display:none; position:absolute; right:0; top:0;}
#overlay-container .close a {display:block; color:#777; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
#overlay-container .close a:hover {color:#000;}
#overlay-container #overlay-modal-data {font-size:12px; padding:6px 12px;}
#overlay-container h2 {margin:10px 0 6px;}
#overlay-container p {margin-bottom:10px;}
#overlay-container span {color:#777;}


#info-modal-content {display:none;}
#info-modal-data {display:none;}
/* Overlay */
#info-overlay {background-color:#000;}

/* Container */
#info-container {width:700px;background-color:#eee; color:#000; font: 16px/24px "Lucida Grande",Arial,sans-serif; padding-bottom:4px; width:600px; -moz-border-radius-bottomleft:6px; -webkit-border-bottom-left-radius:6px; -moz-border-radius-bottomright:6px; -webkit-border-bottom-right-radius:6px; border-radius:6px 6px 6px 6px; -moz-box-shadow:0 0 64px #f3f3f3; -webkit-box-shadow:0 0 64px #f3f3f3; box-shadow:0 0 64px #f3f3f3;}
#info-container a {color:#ddd;}
#info-container #info-modal-title {color:#000; background-color:#ddd; border-bottom:1px solid #ccc; font-weight:bold; padding:6px 8px; text-shadow:0 1px 0 #f4f4f4;}
#info-container .close {display:none; position:absolute; right:0; top:0;}
#info-container .close a {display:block; color:#777; font-weight:bold; padding:6px 12px 0; text-decoration:none; text-shadow:0 1px 0 #f4f4f4;}
#info-container .close a:hover {color:#000;}
#info-container #info-modal-data {font-size:12px; padding:6px 12px;}
#info-container h2 {margin:10px 0 6px;}
#info-container p {margin-bottom:10px;}
#info-container span {color:#777;}





.info-form {
	width: 750px;
	height: 450px;
	margin: 20px auto;
	position: relative;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*******************
HEADER
*******************/

.info-form .header {
	padding: 10px 0px 0px 10px;
}

.info-form .header h1 {
	font:300 28px/34px 'Denk One', sans-serif;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	margin-bottom: 10px;
}

.info-form .header span {
	padding: 10px 10px 10px 17px;
	font-size: 20px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

/*******************
CONTENT
*******************/

.info-form .content {
	width: 750px;
	height: 330px;
	padding: 10px 30px 15px 30px;
	font-size: 20px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	border-top: 1px solid rgba(0,0,0,0.15);
}


/*******************
FOOTER
*******************/

.info-form .footer {
	text-align:right;
	float:right;
	width: 750px;
	padding: 10px 30px 10px 30px;
	font-size: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	border-top: 1px solid rgba(0,0,0,0.15);
}


